{
  "openapi": "3.0.3",
  "info": {
    "title": "Intrinio API",
    "description": "Welcome to the Intrinio API! Through our Financial Data Marketplace, we offer a wide selection of financial data feed APIs sourced by our own proprietary processes as well as from many data vendors. For a complete API request / response reference please view the [Intrinio API documentation](https://docs.intrinio.com/documentation/api_v2). If you need additional help in using the API, please visit the [Intrinio website](https://intrinio.com) and click on the chat icon in the lower right corner.",
    "version": "2.107.0"
  },
  "servers": [
    {
      "url": "https://api-v2.intrinio.com/"
    }
  ],
  "paths": {
    "/bulk_downloads/links": {
      "get": {
        "summary": "All Links",
        "description": "Returns all active bulk downloads for your account with links to download.",
        "operationId": "get_bulk_download_links",
        "tags": [
          "Bulk Downloads"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseBulkDownloadLinks"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies": {
      "get": {
        "summary": "All Companies",
        "description": "Returns all Companies. When parameters are specified, returns matching companies.",
        "operationId": "get_all_companies",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "latest_filing_date",
            "in": "query",
            "required": false,
            "description": "Return companies whose latest 10-Q or 10-K was filed on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sic",
            "in": "query",
            "required": false,
            "description": "Return companies with the given Standard Industrial Classification code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "description": "Return companies with the given financial statement template",
            "schema": {
              "type": "string",
              "enum": [
                "indu",
                "fin"
              ]
            }
          },
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "description": "Return companies in the given industry sector",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry_category",
            "in": "query",
            "required": false,
            "description": "Return companies in the given industry category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry_group",
            "in": "query",
            "required": false,
            "description": "Return companies in the given industry group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_fundamentals",
            "in": "query",
            "required": false,
            "description": "Return only companies that have fundamentals when true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_stock_prices",
            "in": "query",
            "required": false,
            "description": "Return only companies that have stock prices when true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "thea_enabled",
            "in": "query",
            "required": false,
            "description": "Return companies whose have been read by our Thea NLP and are ready for our company answers endpoint",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/daily_metrics": {
      "get": {
        "summary": "All Companies daily metrics",
        "description": "Returns the company metrics for a date.",
        "operationId": "get_all_companies_daily_metrics",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "on_date",
            "in": "query",
            "required": false,
            "description": "Date of the metric",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyDailyMetrics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/ipos": {
      "get": {
        "summary": "IPOs",
        "description": "Returns a list of historical, current, and upcoming initial public offerings (IPOs) across the major US Exchanges. Includes relevant information such as the IPO status, the offer amount, the total share count and target share price.",
        "operationId": "get_company_ipos",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "Return IPOs with the given ticker (typically the IPO for the company)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Return IPOs with the given status. Upcoming IPOs are scheduled to occur in the future. Priced IPOs have occurred and the company should be trading publicly. Withdrawn IPOs were planned to occurr but were withdrawn beforehand",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "priced",
                "withdrawn"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Return IPOs on or after the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Return IPOs on or before the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "offer_amount_greater_than",
            "in": "query",
            "required": false,
            "description": "Return IPOs with an offer dollar amount greater than the given amount",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offer_amount_less_than",
            "in": "query",
            "required": false,
            "description": "Return IPOs with an offer dollar amount less than the given amount",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseInitialPublicOfferings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/news": {
      "get": {
        "summary": "All News",
        "description": "Returns the latest news article links, headlines and summaries for all US traded companies allowing you to keep a pulse on companies and their business operations.",
        "operationId": "get_all_company_news",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "specific_source",
            "in": "query",
            "required": false,
            "description": "Only news from this source. Defaults to highest available if not present.",
            "schema": {
              "type": "string",
              "enum": [
                "yahoo",
                "moody",
                "moody_us_news",
                "moody_us_press_releases"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "description": "Filter by sentiment.  Unsupported for yahoo source.",
            "schema": {
              "type": "string",
              "enum": [
                "positive",
                "neutral",
                "negative"
              ]
            }
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "Filter by topic.  Unsupported for yahoo source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "Filter by `company` identifier (ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "security",
            "in": "query",
            "required": false,
            "description": "Filter by `security` identifier (ticker, figi, isin, cusip, Intrinio ID).  Unsupported for yahoo source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Limit news stories to those on or after this date. Defaults to yesterday if unspecified.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Limit news stories to those on or before this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter by language.  Unsupported for yahoo source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_count_greater_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a word count greater than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "word_count_less_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a word count less than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "is_spam",
            "in": "query",
            "required": false,
            "description": "Filter whether it is marked as spam or not.  Unsupported for yahoo source.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "business_relevance_greater_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a business relevance score more than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "business_relevance_less_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a business relevance score less than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseNews"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/news/body": {
      "get": {
        "summary": "News Article Body",
        "description": "Returns the body of a news article for moody sources.  This endpoint requires additional authorization beyond basic news access and is for your internal use only - no display. Please see a representative for details.",
        "operationId": "get_company_news_body",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "specific_source",
            "in": "query",
            "required": false,
            "description": "Only news from this source. Defaults to highest available if not present.",
            "schema": {
              "type": "string",
              "enum": [
                "moody",
                "moody_us_news",
                "moody_us_press_releases"
              ]
            }
          },
          {
            "name": "news_story_id",
            "in": "query",
            "required": true,
            "description": "The identifier of the news story.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publication_date",
            "in": "query",
            "required": true,
            "description": "The DateTime of the story.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyNewsBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/recognize": {
      "get": {
        "summary": "Recognize Company",
        "description": "Returns a list of companies recognized by the Thea API in the given `text` query string parameter.",
        "operationId": "recognize_company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The text sent to the Thea API to analyze",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyRecognize"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/search": {
      "get": {
        "summary": "Search Companies",
        "description": "Search the companies database and return a list of companies matching the text query parameter passed through. Query parameter searches across the company ticker and name.",
        "operationId": "search_companies",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search parameters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "When true, return companies that are actively traded (having stock prices within the past 14 days). When false, return companies that are not actively traded or never have been traded. Not setting this value returns all. Not used when mode is set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "When set, changes search mode to the specified mode.",
            "schema": {
              "type": "string",
              "enum": [
                "starts_with"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompaniesSearch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}": {
      "get": {
        "summary": "Lookup Company",
        "description": "Returns company reference and metadata such as tickers, CIK, and a unique company identifier, as well as company metadata such as business description, employee count, and company URL.",
        "operationId": "get_company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/answers": {
      "get": {
        "summary": "Company Answers",
        "description": "Returns answers for a question about the Company with the given `identifier`",
        "operationId": "get_company_answers",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The query to ask the Thea API",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyAnswers"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/daily_metrics": {
      "get": {
        "summary": "Company metrics by Company",
        "description": "Returns the latest company metrics.",
        "operationId": "get_company_daily_metrics",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "on_date",
            "in": "query",
            "required": false,
            "description": "Date of the metric",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyDailyMetrics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/data_point/{tag}/number": {
      "get": {
        "summary": "Data Point (Number) for Company",
        "description": "Returns latest value for calculations, metrics, and financial data points for a company.",
        "operationId": "get_company_data_point_number",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "description": "The latest numeric value for an identifier/item combination"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/data_point/{tag}/text": {
      "get": {
        "summary": "Data Point (Text) for Company",
        "description": "Returns latest value for metadata items for a company.",
        "operationId": "get_company_data_point_text",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The latest text value for an identifier/item combination"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/filings": {
      "get": {
        "summary": "All Filings by Company",
        "description": "Returns a complete list of SEC filings for the Company with the given `identifier`",
        "operationId": "get_company_filings",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report_type",
            "in": "query",
            "required": false,
            "description": "Filter by <a href=\"https://docs.intrinio.com/documentation/sec_filing_report_types\" target=\"_blank\">report type</a>. Separate values with commas to return multiple report types.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filed on or after the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filed before or after the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "thea_enabled",
            "in": "query",
            "required": false,
            "description": "Return filings that have been read by our Thea NLP and are ready for our answers endpoint",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyFilings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/fundamentals": {
      "get": {
        "summary": "All Fundamentals by Company",
        "description": "Returns a list of fundamentals with unique fundamental IDs associated with a particular company. Useful to obtain all historical and/or latest fundamental IDs for a given company to then use to loop through and pull all fundamental data available.",
        "operationId": "get_company_fundamentals",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filed_after",
            "in": "query",
            "required": false,
            "description": "Filed on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filed_before",
            "in": "query",
            "required": false,
            "description": "Filed on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "reported_only",
            "in": "query",
            "required": false,
            "description": "Only as-reported fundamentals",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fiscal_year",
            "in": "query",
            "required": false,
            "description": "Only for the given fiscal year",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "statement_code",
            "in": "query",
            "required": false,
            "description": "Only of the given statement code",
            "schema": {
              "type": "string",
              "enum": [
                "income_statement",
                "balance_sheet_statement",
                "cash_flow_statement",
                "calculations"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Only of the given type",
            "schema": {
              "type": "string",
              "enum": [
                "QTR",
                "YTD",
                "FY",
                "TTM"
              ]
            }
          },
          {
            "name": "fundamental_type",
            "in": "query",
            "required": false,
            "description": "Only of the given fundamental type",
            "schema": {
              "type": "string",
              "enum": [
                "reported",
                "restated",
                "calculated"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Only on or after the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Only on or before the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "description": "Only include fundamentals where it was updated after this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "latest_only",
            "in": "query",
            "required": false,
            "description": "Only the most-recently reported fundamental for the period",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "description": "Only include fundamentals where it was updated before this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyFundamentals"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/fundamentals/lookup/{statement_code}/{fiscal_year}/{fiscal_period}": {
      "get": {
        "summary": "Lookup Fundamental by Company",
        "description": "Returns the Fundamental for the Company with the given `identifier` and with the given parameters",
        "operationId": "lookup_company_fundamental",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statement_code",
            "in": "path",
            "required": true,
            "description": "The statement code",
            "schema": {
              "type": "string",
              "enum": [
                "income_statement",
                "balance_sheet_statement",
                "cash_flow_statement",
                "calculations"
              ]
            }
          },
          {
            "name": "fiscal_period",
            "in": "path",
            "required": true,
            "description": "The fiscal period",
            "schema": {
              "type": "string",
              "enum": [
                "Q1TTM",
                "Q2TTM",
                "Q3TTM",
                "FY",
                "Q1",
                "Q2",
                "Q3",
                "Q4",
                "Q2YTD",
                "Q3YTD"
              ]
            }
          },
          {
            "name": "fiscal_year",
            "in": "path",
            "required": true,
            "description": "The fiscal year",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Fundamental"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/historical_data/{tag}": {
      "get": {
        "summary": "Historical Data for Company",
        "description": "Returns historical values for the given `tag` and the Company with the given `identifier`",
        "operationId": "get_company_historical_data",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Return historical data in the given frequency",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "yearly"
              ],
              "default": "daily"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Return historical data for given fiscal period type",
            "schema": {
              "type": "string",
              "enum": [
                "FY",
                "QTR",
                "TTM"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Return historical data on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Return historical data on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort by date `asc` or `desc`",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyHistoricalData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/insider_transaction_filings": {
      "get": {
        "summary": "Insider Transaction Filings by Company",
        "description": "Returns a list of all insider transaction filings in a company. Criteria for being an insider include being a director, officer, or 10%+ owner in the company. Transactions are detailed for both non-derivative and derivative transactions by the insider.",
        "operationId": "insider_transaction_filings_by_company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Return Company's insider transaction filings on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Return Company's insider transaction filings on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ownership_type",
            "in": "query",
            "required": false,
            "description": "The type of ownership to return transaction filings for. 'D' is for direct transactions. 'I' is for indirect transactions. Omit for both types.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "The field to sort by.  Default is 'filing_date'.",
            "schema": {
              "type": "string",
              "enum": [
                "filing_date",
                "updated_on"
              ]
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseInsiderTransactionFilings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/insider_transaction_filings/latest": {
      "get": {
        "summary": "Latest Insider Transaction Filing by Company",
        "description": "Returns the latest insider transaction filing for a company.",
        "operationId": "latest_insider_transaction_filing_by_company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/InsiderTransactionFiling"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/news": {
      "get": {
        "summary": "All News by Company",
        "description": "Returns the latest and historical news article links, headlines and summaries for a specified US traded company.",
        "operationId": "get_company_news",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "specific_source",
            "in": "query",
            "required": false,
            "description": "Only news from this source. Defaults to highest available if not present.",
            "schema": {
              "type": "string",
              "enum": [
                "yahoo",
                "moody",
                "moody_us_news",
                "moody_us_press_releases"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "description": "Filter by sentiment.  Unsupported for yahoo source.",
            "schema": {
              "type": "string",
              "enum": [
                "positive",
                "neutral",
                "negative"
              ]
            }
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "Filter by topic.  Unsupported for yahoo source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "security",
            "in": "query",
            "required": false,
            "description": "Filter by `security` identifier (ticker, figi, isin, cusip, Intrinio ID).  Unsupported for yahoo source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Limit news stories to those on or after this date. Defaults to yesterday if unspecified.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Limit news stories to those on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter by language.  Unsupported for yahoo source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_count_greater_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a word count greater than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "word_count_less_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a word count less than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "is_spam",
            "in": "query",
            "required": false,
            "description": "Filter whether it is marked as spam or not.  Unsupported for yahoo source.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "business_relevance_greater_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a business relevance score more than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "business_relevance_less_than",
            "in": "query",
            "required": false,
            "description": "News stories will have a business relevance score less than this value.  Unsupported for yahoo source.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyNews"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/public_float": {
      "get": {
        "summary": "Get Company's public float",
        "description": "Returns a list of public float data tied to a given company identifier.",
        "operationId": "get_company_public_float",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "float_date_greater_than",
            "in": "query",
            "required": false,
            "description": "The lower-bound date for the data being requested.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "float_date_less_than",
            "in": "query",
            "required": false,
            "description": "The upper-bound date for the data being requested.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanyPublicFloatResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/securities": {
      "get": {
        "summary": "All Securities by Company",
        "description": "Returns a list of underlying securities with associated reference data tied to a given company identifier.",
        "operationId": "get_company_securities",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanySecurities"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/shares_outstanding": {
      "get": {
        "summary": "Shares Outstanding by Company",
        "description": "Returns the shares outstanding reported on the front cover of the SEC 10-K and 10-Q filings.",
        "operationId": "shares_outstanding_by_company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date_greater_than",
            "in": "query",
            "required": false,
            "description": "Returns shares outstanding after this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date_less_than",
            "in": "query",
            "required": false,
            "description": "Returns shares outstanding before this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseCompanySharesOutstanding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_point/{identifier}/{tag}/number": {
      "get": {
        "summary": "Data Point (Number)",
        "description": "Returns a numeric value for the given `tag` and the entity with the given `identifier`",
        "operationId": "get_data_point_number",
        "tags": [
          "DataPoint"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "An identifier for an entity such as a Company, Security, Index, etc (Ticker, FIGI, ISIN, CUSIP, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "description": "The latest numeric value for the identifier/item combination"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_point/{identifier}/{tag}/text": {
      "get": {
        "summary": "Data Point (Text)",
        "description": "Returns a text value for the given `tag` for the Security with the given `identifier`",
        "operationId": "get_data_point_text",
        "tags": [
          "DataPoint"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "An identifier for an entity such as a Company, Security, Index, etc (Ticker, FIGI, ISIN, CUSIP, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The latest text value for the identifier/item combination"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_tags": {
      "get": {
        "summary": "All Data Tags",
        "description": "Returns all Data Tags. Returns Data Tags matching parameters when specified.",
        "operationId": "get_all_data_tags",
        "tags": [
          "Data Tag"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "description": "ID of tag parent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statement_code",
            "in": "query",
            "required": false,
            "description": "Statement Code",
            "schema": {
              "type": "string",
              "enum": [
                "income_statement",
                "balance_sheet_statement",
                "cash_flow_statement",
                "calculations"
              ]
            }
          },
          {
            "name": "fs_template",
            "in": "query",
            "required": false,
            "description": "Template",
            "schema": {
              "type": "string",
              "enum": [
                "industrial",
                "financial"
              ],
              "default": "industrial"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseDataTags"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_tags/search": {
      "get": {
        "summary": "Search Data Tags",
        "description": "Searches for Data Tags matching the text `query`",
        "operationId": "search_data_tags",
        "tags": [
          "Data Tag"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseDataTagsSearch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_tags/{identifier}": {
      "get": {
        "summary": "Lookup Data Tag",
        "description": "Returns the Data Tag with the given `identifier`",
        "operationId": "get_data_tag_by_id",
        "tags": [
          "Data Tag"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "The Intrinio ID or the code-name of the Data Tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/DataTag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/esg": {
      "get": {
        "summary": "ESG Latest",
        "description": null,
        "operationId": "get_esg_latest",
        "tags": [
          "ESG"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseESGLatest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/esg/companies": {
      "get": {
        "summary": "ESG Companies",
        "description": null,
        "operationId": "get_esg_companies",
        "tags": [
          "ESG"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseESGCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/esg/comprehensive": {
      "get": {
        "summary": "ESG Latest Comprehensive",
        "description": null,
        "operationId": "get_esg_latest_comprehensive",
        "tags": [
          "ESG"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseESGLatestComprehensive"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/esg/{identifier}": {
      "get": {
        "summary": "ESG Company Ratings History",
        "description": null,
        "operationId": "get_esg_company_ratings",
        "tags": [
          "ESG"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "ISIN, Intrinio ID, or Ticker",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseESGCompanyRatingHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/esg/{identifier}/comprehensive": {
      "get": {
        "summary": "ESG Company Comprehensive Ratings History",
        "description": null,
        "operationId": "get_esg_company_comprehensive_ratings",
        "tags": [
          "ESG"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "ISIN, Intrinio ID, or Ticker",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseESGCompanyComprehensiveRatingHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs": {
      "get": {
        "summary": "All ETFs",
        "description": "Returns a list of all currently listed ETFs, with relevant identification information including the ETF Name, Ticker, FIGI Ticker, and Exchange MIC for further usage with our ETF Metadata, Holdings, Stats, and Analytics offerings.",
        "operationId": "get_all_etfs",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseETFs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs/search": {
      "get": {
        "summary": "Search ETFs",
        "description": "Accepts a string of keyword combinations, and searches across the ETF name and ticker and returns a list of ETFs with related keywords.",
        "operationId": "search_etfs",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "When set, changes search mode to the specified mode. Paging is not available in rank_order.",
            "schema": {
              "type": "string",
              "enum": [
                "rank_order",
                "starts_with"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseETFs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs/{identifier}": {
      "get": {
        "summary": "Lookup ETF",
        "description": "Returns classifications and reference data which consists of ~90 columns that give detailed information about an ETF. These granular details include asset class, expense ratio, index name, index weighting scheme, smart beta type and specific investment objectives.",
        "operationId": "get_etf",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "An ETF identifier (Ticker, Figi Ticker, ISIN, RIC, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ETF"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs/{identifier}/analytics": {
      "get": {
        "summary": "ETF Analytics",
        "description": "Returns latest market analytics for a specified US ETF, including volume, trailing volume, market cap, 52 week high, and 52 week low.",
        "operationId": "get_etf_analytics",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "An ETF identifier (Ticker, Figi Ticker, ISIN, RIC, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ETFAnalytics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs/{identifier}/historical_stats": {
      "get": {
        "summary": "Exchange Traded Fund (ETF) stats",
        "description": "Returns comprehensive key US ETF historical performance statistics, including prices, NAVs, flows, returns, and much more for both trailing and calendar year periods.",
        "operationId": "get_etf_historical_stats",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "An ETF identifier (Ticker, Figi Ticker, ISIN, RIC, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "The start date for the historical stats data in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "The end date for the historical stats data in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return per page.",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ETFHistoricalStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs/{identifier}/holdings": {
      "get": {
        "summary": "ETF Holdings",
        "description": "Returns holdings data that details all the constituent securities in each ETF with names, identifiers, and the weights for each security providing granular level transparency.",
        "operationId": "get_etf_holdings",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "An ETF identifier (Ticker, Figi Ticker, ISIN, RIC, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseETFHoldings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/etfs/{identifier}/stats": {
      "get": {
        "summary": "Exchange Traded Fund (ETF) stats",
        "description": "Returns comprehensive key US ETF performance statistics, including prices, NAVs, flows, returns, and much more for both trailing and calendar year periods.",
        "operationId": "get_etf_stats",
        "tags": [
          "ETFs"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": false,
            "description": "An ETF identifier (Ticker, Figi Ticker, ISIN, RIC, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ETFStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/filings": {
      "get": {
        "summary": "All Filings",
        "description": "Returns pertinent filing reference data for a specific company filing or latest filings for all companies. Useful for tracking the latest filings submitted and updating your database accordingly with the new information.",
        "operationId": "get_all_filings",
        "tags": [
          "Filing"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "Filings for the given `company` identifier (ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report_type",
            "in": "query",
            "required": false,
            "description": "Filter by report type. Separate values with commas to return multiple The filing <a href=\"https://docs.intrinio.com/documentation/sec_filing_report_types\" target=\"_blank\">report types</a>.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filed on or after the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filed before or after the given date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "industry_category",
            "in": "query",
            "required": false,
            "description": "Return companies in the given industry category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry_group",
            "in": "query",
            "required": false,
            "description": "Return companies in the given industry group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thea_enabled",
            "in": "query",
            "required": false,
            "description": "Return filings that have been read by our Thea NLP and are ready for our answers endpoint",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "earnings_release",
            "in": "query",
            "required": false,
            "description": "Return filings that have been tagged as having Results of Operations and Financial Conditions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseFilings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/filings/notes": {
      "get": {
        "summary": "All Filing Notes",
        "description": "Returns a list of the latest XBRL filing note sections from the SEC 10-K and 10-Q statements. The returned Intrinio XBRL filing note ID can then be utilized with the \u201cFiling Note by ID\u201d endpoint to retrieve the contents of the note in HTML or text format.",
        "operationId": "get_all_notes",
        "tags": [
          "Filing"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report_type",
            "in": "query",
            "required": false,
            "description": "Notes contained in filings that match the given <a href=\"https://docs.intrinio.com/documentation/sec_filing_report_types\" target=\"_blank\">report type</a>",
            "schema": {
              "type": "string",
              "enum": [
                "10-Q",
                "10-K"
              ]
            }
          },
          {
            "name": "filing_start_date",
            "in": "query",
            "required": false,
            "description": "Limit search to filings on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filing_end_date",
            "in": "query",
            "required": false,
            "description": "Limit search to filings on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_ended_start_date",
            "in": "query",
            "required": false,
            "description": "Limit search to filings with a period end date on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_ended_end_date",
            "in": "query",
            "required": false,
            "description": "Limit search to filings with a period end date on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 100
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "Gets the next page of data from a previous API call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponseFilingNotes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/filings/notes/search": {
      "get": {
        "summary": "Search Filing Notes",
[...]
