{
  "swagger": "2.0",
  "info": {
    "title": "Intrinio API",
    "description": "Welcome to the Intrinio API! Through our Financial Data Marketplace, we offer a wide selection of financial data feed APIs sourced by our own proprietary processes as well as from many data vendors. For a complete API request / response reference please view the [Intrinio API documentation](https://docs.intrinio.com/documentation/api_v2). If you need additional help in using the API, please visit the [Intrinio website](https://intrinio.com) and click on the chat icon in the lower right corner.",
    "version": "2.107.0"
  },
  "host": "api-v2.intrinio.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key",
      "description": "To authenticate with the Intrinio API, you may provide your API Key as a URL parameter named `api_key`."
    }
  },
  "security": [
    {
      "ApiKeyAuth": [

      ]
    }
  ],
  "tags": [

  ],
  "paths": {
    "/bulk_downloads/links": {
      "get": {
        "tags": [
          "Bulk Downloads"
        ],
        "summary": "All Links",
        "description": "Returns all active bulk downloads for your account with links to download.",
        "operationId": "get_bulk_download_links",
        "x-group": "Bulk Downloads",
        "x-index": 1000,
        "x-sample-data-url": "/bulk_downloads/links",
        "x-sandbox": false,
        "x-documentation-url": "https://intrinio.com/docs/bulk-downloads",
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseBulkDownloadLinks"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All Companies",
        "description": "Returns all Companies. When parameters are specified, returns matching companies.",
        "x-history": "2009 to Present",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC | OpenFIGI",
        "x-additional-comments": "Try setting the latest_filing_date parameter to the current date to filter on only those companies that have filed new 10-K or 10-Q financial data today to update your database with the latest fundamental data. | Try using the SIC parameter or any of the classification parameters to return a list of companies in a given sector or industry. | Try setting the has_fundamentals parameter to `true` to return only those companies with available fundamental data.",
        "operationId": "get_all_companies",
        "x-group": "Company Reference & Metadata",
        "x-index": 1000,
        "x-sample-data-url": "/companies?sector=Basic%20Materials",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-reference-metadata",
        "parameters": [
          {
            "in": "query",
            "name": "latest_filing_date",
            "description": "Return companies whose latest 10-Q or 10-K was filed on or after this date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2011-07-15"
          },
          {
            "in": "query",
            "name": "sic",
            "description": "Return companies with the given Standard Industrial Classification code",
            "type": "string",
            "required": false,
            "x-example": "~null",
            "x-example-value": 3350
          },
          {
            "in": "query",
            "name": "template",
            "description": "Return companies with the given financial statement template",
            "type": "string",
            "required": false,
            "enum": [
              "indu",
              "fin"
            ],
            "x-example": "~null",
            "x-example-value": "indu"
          },
          {
            "in": "query",
            "name": "sector",
            "description": "Return companies in the given industry sector",
            "type": "string",
            "required": false,
            "x-example": "~null",
            "x-example-value": "Basic Materials",
            "x-default-value": "Basic Materials"
          },
          {
            "in": "query",
            "name": "industry_category",
            "description": "Return companies in the given industry category",
            "type": "string",
            "required": false,
            "x-example": "~null",
            "x-example-value": "Metals & Mining"
          },
          {
            "in": "query",
            "name": "industry_group",
            "description": "Return companies in the given industry group",
            "type": "string",
            "required": false,
            "x-example": "~null",
            "x-example-value": "Aluminum"
          },
          {
            "in": "query",
            "name": "has_fundamentals",
            "description": "Return only companies that have fundamentals when true",
            "type": "boolean",
            "required": false,
            "x-example": true,
            "x-example-value": false
          },
          {
            "in": "query",
            "name": "has_stock_prices",
            "description": "Return only companies that have stock prices when true",
            "type": "boolean",
            "required": false,
            "x-example": true,
            "x-example-value": false
          },
          {
            "in": "query",
            "name": "thea_enabled",
            "description": "Return companies whose have been read by our Thea NLP and are ready for our company answers endpoint",
            "type": "boolean",
            "required": false,
            "x-example": "~null",
            "x-example-value": true
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanies"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/daily_metrics": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All Companies daily metrics",
        "operationId": "get_all_companies_daily_metrics",
        "description": "Returns the company metrics for a date.",
        "x-history": "December 30, 1983 to Present",
        "x-update-freq": "Rolling Basis - Intraday",
        "x-group": "Returns & Analytics",
        "x-index": 1003,
        "x-sample-data-url": "/companies/daily_metrics",
        "x-documentation-url": "https://intrinio.com/docs/all-companies-daily-metrics",
        "parameters": [
          {
            "in": "query",
            "name": "on_date",
            "type": "string",
            "format": "date",
            "description": "Date of the metric"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyDailyMetrics"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/ipos": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "IPOs",
        "operationId": "get_company_ipos",
        "description": "Returns a list of historical, current, and upcoming initial public offerings (IPOs) across the major US Exchanges. Includes relevant information such as the IPO status, the offer amount, the total share count and target share price.",
        "x-history": "2018 to Present",
        "x-data-type": "End of Day",
        "x-update-freq": "4PM UTC Daily",
        "x-data-source": "NYSE | NASDAQ",
        "x-additional-comments": "Try leaving the ticker parameter blank to return all IPOs sorted by recency. | Ideal for creating an IPO calendar. Both historical and forward-looking.",
        "x-group": "Upcoming & Historical IPOs",
        "x-index": 1000,
        "x-sample-data-url": "/companies/ipos?ticker=UBER",
        "x-sandbox": false,
        "x-documentation-url": "https://intrinio.com/docs/upcoming-historical-ipos",
        "parameters": [
          {
            "in": "query",
            "name": "ticker",
            "type": "string",
            "required": false,
            "description": "Return IPOs with the given ticker (typically the IPO for the company)",
            "x-example": "UBER",
            "x-example-value": "UBER"
          },
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "enum": [
              "upcoming",
              "priced",
              "withdrawn"
            ],
            "required": false,
            "description": "Return IPOs with the given status. Upcoming IPOs are scheduled to occur in the future. Priced IPOs have occurred and the company should be trading publicly. Withdrawn IPOs were planned to occurr but were withdrawn beforehand",
            "x-example": "~null",
            "x-example-value": "upcoming"
          },
          {
            "in": "query",
            "name": "start_date",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Return IPOs on or after the given date",
            "x-example": "~null",
            "x-example-value": "2019-01-01"
          },
          {
            "in": "query",
            "name": "end_date",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Return IPOs on or before the given date",
            "x-example": "~null",
            "x-example-value": "2019-01-01"
          },
          {
            "in": "query",
            "name": "offer_amount_greater_than",
            "type": "integer",
            "required": false,
            "description": "Return IPOs with an offer dollar amount greater than the given amount",
            "x-example": "~null",
            "x-example-value": 1000000000
          },
          {
            "in": "query",
            "name": "offer_amount_less_than",
            "type": "integer",
            "required": false,
            "description": "Return IPOs with an offer dollar amount less than the given amount",
            "x-example": "~null",
            "x-example-value": 1000000000
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseInitialPublicOfferings"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/news": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All News",
        "operationId": "get_all_company_news",
        "description": "Returns the latest news article links, headlines and summaries for all US traded companies allowing you to keep a pulse on companies and their business operations.",
        "x-history": "May 2017 to Present",
        "x-data-type": "15-Min Delayed",
        "x-update-freq": "Rolling Basis - Intraday",
        "x-data-source": "Public RSS Feeds",
        "x-additional-comments": "Try using our historical news feed to perform sentiment analysis across companies and industries.",
        "x-group": "Company News",
        "x-index": 1000,
        "x-sample-data-url": "/companies/news",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-news",
        "parameters": [
          {
            "in": "query",
            "name": "specific_source",
            "description": "Only news from this source. Defaults to highest available if not present.",
            "enum": [
              "yahoo",
              "moody",
              "moody_us_news",
              "moody_us_press_releases"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The maximum number of results to return.",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "sentiment",
            "description": "Filter by sentiment.  Unsupported for yahoo source.",
            "enum": [
              "positive",
              "neutral",
              "negative"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "topic",
            "description": "Filter by topic.  Unsupported for yahoo source.",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "company",
            "description": "Filter by `company` identifier (ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": false,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "security",
            "description": "Filter by `security` identifier (ticker, figi, isin, cusip, Intrinio ID).  Unsupported for yahoo source.",
            "type": "string",
            "required": false,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "security"
            ]
          },
          {
            "in": "query",
            "name": "start_date",
            "type": "string",
            "format": "date",
            "description": "Limit news stories to those on or after this date. Defaults to yesterday if unspecified.",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2024-01-01",
            "x-default-value": "2024-01-01"
          },
          {
            "in": "query",
            "name": "end_date",
            "type": "string",
            "format": "date",
            "description": "Limit news stories to those on or before this date.",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2024-01-01",
            "x-default-value": "2024-01-01"
          },
          {
            "in": "query",
            "name": "language",
            "description": "Filter by language.  Unsupported for yahoo source.",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "word_count_greater_than",
            "description": "News stories will have a word count greater than this value.  Unsupported for yahoo source.",
            "type": "integer",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "word_count_less_than",
            "description": "News stories will have a word count less than this value.  Unsupported for yahoo source.",
            "type": "integer",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "is_spam",
            "description": "Filter whether it is marked as spam or not.  Unsupported for yahoo source.",
            "type": "boolean",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "business_relevance_greater_than",
            "description": "News stories will have a business relevance score more than this value.  Unsupported for yahoo source.",
            "type": "number",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "business_relevance_less_than",
            "description": "News stories will have a business relevance score less than this value.  Unsupported for yahoo source.",
            "type": "number",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseNews"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/news/body": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "News Article Body",
        "operationId": "get_company_news_body",
        "description": "Returns the body of a news article for moody sources.  This endpoint requires additional authorization beyond basic news access and is for your internal use only - no display. Please see a representative for details.",
        "x-history": "May 2017 to Present",
        "x-data-type": "15-Min Delayed",
        "x-update-freq": "Rolling Basis - Intraday",
        "x-data-source": "Public RSS Feeds",
        "x-additional-comments": "Try using our historical news feed to perform sentiment analysis across companies and industries.",
        "x-group": "Company News",
        "x-index": 1000,
        "x-sample-data-url": "/companies/news/body",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-news",
        "parameters": [
          {
            "in": "query",
            "name": "specific_source",
            "description": "Only news from this source. Defaults to highest available if not present.",
            "enum": [
              "moody",
              "moody_us_news",
              "moody_us_press_releases"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "news_story_id",
            "description": "The identifier of the news story.",
            "type": "string",
            "required": true,
            "x-example": "new_aBcDef"
          },
          {
            "in": "query",
            "name": "publication_date",
            "description": "The DateTime of the story.",
            "type": "string",
            "format": "date-time",
            "x-example": "~null",
            "x-example-value": "2024-05-03T15:00:00.000+00:00",
            "required": true
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyNewsBody"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/recognize": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Recognize Company",
        "operationId": "recognize_company",
        "description": "Returns a list of companies recognized by the Thea API in the given `text` query string parameter.",
        "x-group": "Thea Answers API",
        "x-index": 1005,
        "x-sample-data-url": "/companies/recognize",
        "x-sandbox": false,
        "x-documentation-url": "https://intrinio.com/docs/company-reference-metadata",
        "parameters": [
          {
            "in": "query",
            "name": "text",
            "type": "string",
            "required": true,
            "description": "The text sent to the Thea API to analyze",
            "x-example": "Apple",
            "x-example-value": "Apple",
            "x-default-value": "Apple"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyRecognize"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/search": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Search Companies",
        "operationId": "search_companies",
        "description": "Search the companies database and return a list of companies matching the text query parameter passed through. Query parameter searches across the company ticker and name.",
        "x-history": "2009 to Present",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC | OpenFIGI",
        "x-group": "Company Reference & Metadata",
        "x-index": 1001,
        "x-sample-data-url": "/companies/search?query=Appl",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-reference-metadata",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "description": "Search parameters",
            "type": "string",
            "required": true,
            "x-example": "Apple",
            "x-example-value": "Apple",
            "x-default-value": "Apple"
          },
          {
            "in": "query",
            "name": "active",
            "description": "When true, return companies that are actively traded (having stock prices within the past 14 days). When false, return companies that are not actively traded or never have been traded. Not setting this value returns all. Not used when mode is set.",
            "type": "boolean",
            "required": false,
            "x-example": true,
            "x-example-value": false
          },
          {
            "in": "query",
            "name": "mode",
            "description": "When set, changes search mode to the specified mode.",
            "enum": [
              "starts_with"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null",
            "x-example-value": "~null"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompaniesSearch"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Lookup Company",
        "operationId": "get_company",
        "description": "Returns company reference and metadata such as tickers, CIK, and a unique company identifier, as well as company metadata such as business description, employee count, and company URL.",
        "x-history": "2009 to Present",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC | OpenFIGI",
        "x-group": "Company Reference & Metadata",
        "x-index": 1003,
        "x-sample-data-url": "/companies/AAPL",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-reference-metadata",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Company"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/answers": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Company Answers",
        "operationId": "get_company_answers",
        "description": "Returns answers for a question about the Company with the given `identifier`",
        "x-group": "Thea Answers API",
        "x-index": 1004,
        "x-sample-data-url": "/companies/AAPL/answers",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-reference-metadata",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "query",
            "type": "string",
            "required": true,
            "description": "The query to ask the Thea API",
            "x-example": "What do they believe in?",
            "x-example-value": "What do they believe in?",
            "x-default-value": "What do they believe in?"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyAnswers"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/daily_metrics": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Company metrics by Company",
        "operationId": "get_company_daily_metrics",
        "description": "Returns the latest company metrics.",
        "x-history": "December 30, 1983 to Present",
        "x-update-freq": "Rolling Basis - Intraday",
        "x-group": "Returns & Analytics",
        "x-index": 1003,
        "x-sample-data-url": "/companies/AAPL/daily_metrics",
        "x-documentation-url": "https://intrinio.com/docs/company-daily-metrics",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "on_date",
            "type": "string",
            "format": "date",
            "description": "Date of the metric"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyDailyMetrics"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/data_point/{tag}/number": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Data Point (Number) for Company",
        "operationId": "get_company_data_point_number",
        "description": "Returns latest value for calculations, metrics, and financial data points for a company.",
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-history": "N/A",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC",
        "x-additional-comments": "For a list of all data tags available, please find the data tag dictionary [here](https://data.intrinio.com/data-tags).",
        "x-index": 1010,
        "x-sample-data-url": "/companies/AAPL/data_point/marketcap/number",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/standardized-as-reported-financial-statement-data",
        "produces": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "path",
            "name": "tag",
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "type": "string",
            "required": true,
            "x-example": "marketcap",
            "x-example-value": "marketcap",
            "x-default-value": "marketcap",
            "x-lookup-mode": "data_tag"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "number",
              "description": "The latest numeric value for an identifier/item combination"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/data_point/{tag}/text": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Data Point (Text) for Company",
        "operationId": "get_company_data_point_text",
        "description": "Returns latest value for metadata items for a company.",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC",
        "x-additional-comments": "For a list of all data tags available, please find the data tag dictionary [here](https://data.intrinio.com/data-tags).",
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-index": 1910,
        "x-sample-data-url": "/companies/AAPL/data_point/ceo/text",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/standardized-as-reported-financial-statement-data",
        "produces": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "path",
            "name": "tag",
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "type": "string",
            "required": true,
            "x-example": "ceo",
            "x-example-value": "ceo",
            "x-default-value": "ceo",
            "x-lookup-mode": "data_tag"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "string",
              "description": "The latest text value for an identifier/item combination"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/companies/{identifier}/filings": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All Filings by Company",
        "operationId": "get_company_filings",
        "description": "Returns a complete list of SEC filings for the Company with the given `identifier`",
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-index": 1001,
        "x-sample-data-url": "/companies/AAPL/filings",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/standardized-as-reported-financial-statement-data",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "report_type",
            "description": "Filter by <a href=\"https://docs.intrinio.com/documentation/sec_filing_report_types\" target=\"_blank\">report type</a>. Separate values with commas to return multiple report types.",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Filed on or after the given date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "2015-01-01"
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Filed before or after the given date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "thea_enabled",
            "description": "Return filings that have been read by our Thea NLP and are ready for our answers endpoint",
            "type": "boolean",
            "required": false,
            "x-example": "~null",
            "x-example-value": true
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyFilings"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/fundamentals": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All Fundamentals by Company",
        "operationId": "get_company_fundamentals",
        "description": "Returns a list of fundamentals with unique fundamental IDs associated with a particular company. Useful to obtain all historical and/or latest fundamental IDs for a given company to then use to loop through and pull all fundamental data available.",
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-note": "Companies restate prior fiscal periods on each 10-K and 10-Q for comparison with their latest completed period. We specify whether each fundamental returned is restated or reported (meaning the original, non-restated fundamental) with the `type` field located in the fundamental array.",
        "x-history": "Quarterly Fundamentals from 2009 | Yearly Fundamentals from 2007",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC",
        "x-additional-comments": "Try using this endpoint in tandem with the `Standardized Financials` endpoint to pull standardized financial statement data for a specific fundamental ID. | Try using the filing_after date parameter to pull a list of fundamental IDs posted after your last database update.",
        "x-index": 1006,
        "x-sample-data-url": "/companies/AAPL/fundamentals?fiscal_year=2017",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/standardized-as-reported-financial-statement-data",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "filed_after",
            "description": "Filed on or after this date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "filed_before",
            "description": "Filed on or before this date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "reported_only",
            "description": "Only as-reported fundamentals",
            "type": "boolean",
            "required": false,
            "x-example": false
          },
          {
            "in": "query",
            "name": "fiscal_year",
            "description": "Only for the given fiscal year",
            "type": "integer",
            "required": false,
            "x-example": "~null",
            "x-example-value": 2017,
            "x-default-value": 2017
          },
          {
            "in": "query",
            "name": "statement_code",
            "description": "Only of the given statement code",
            "enum": [
              "income_statement",
              "balance_sheet_statement",
              "cash_flow_statement",
              "calculations"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Only of the given type",
            "enum": [
              "QTR",
              "YTD",
              "FY",
              "TTM"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "fundamental_type",
            "description": "Only of the given fundamental type",
            "type": "string",
            "required": false,
            "enum": [
              "reported",
              "restated",
              "calculated"
            ],
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Only on or after the given date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Only on or before the given date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "updated_after",
            "description": "Only include fundamentals where it was updated after this date.",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "2022-12-01",
            "x-example-value": "2022-12-01",
            "x-default-value": "2022-12-01"
          },
          {
            "in": "query",
            "name": "latest_only",
            "type": "boolean",
            "required": false,
            "description": "Only the most-recently reported fundamental for the period",
            "x-default-value": true
          },
          {
            "in": "query",
            "name": "updated_before",
            "description": "Only include fundamentals where it was updated before this date.",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "2022-12-01",
            "x-example-value": "2022-12-01",
            "x-default-value": "2022-12-01"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyFundamentals"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/fundamentals/lookup/{statement_code}/{fiscal_year}/{fiscal_period}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Lookup Fundamental by Company",
        "operationId": "lookup_company_fundamental",
        "description": "Returns the Fundamental for the Company with the given `identifier` and with the given parameters",
        "x-sample-data-url": "/companies/AAPL/fundamentals/lookup/income_statement/2017/FY",
        "x-index": 1220,
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/standardized-as-reported-financial-statement-data",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "path",
            "name": "statement_code",
            "description": "The statement code",
            "type": "string",
            "enum": [
              "income_statement",
              "balance_sheet_statement",
              "cash_flow_statement",
              "calculations"
            ],
            "required": true,
            "x-example": "income_statement"
          },
          {
            "in": "path",
            "name": "fiscal_period",
            "description": "The fiscal period",
            "enum": [
              "Q1TTM",
              "Q2TTM",
              "Q3TTM",
              "FY",
              "Q1",
              "Q2",
              "Q3",
              "Q4",
              "Q2YTD",
              "Q3YTD"
            ],
            "type": "string",
            "required": true,
            "x-example": "FY"
          },
          {
            "in": "path",
            "name": "fiscal_year",
            "description": "The fiscal year",
            "type": "integer",
            "required": true,
            "x-example": 2017
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Fundamental"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/historical_data/{tag}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Historical Data for Company",
        "operationId": "get_company_historical_data",
        "description": "Returns historical values for the given `tag` and the Company with the given `identifier`",
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-index": 1009,
        "x-sample-data-url": "/companies/AAPL/historical_data/marketcap",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/standardized-as-reported-financial-statement-data",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "type": "string",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "path",
            "name": "tag",
            "type": "string",
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "required": true,
            "x-example": "marketcap",
            "x-example-value": "marketcap",
            "x-default-value": "marketcap",
            "x-lookup-mode": "data_tag"
          },
          {
            "in": "query",
            "name": "frequency",
            "description": "Return historical data in the given frequency",
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly",
              "quarterly",
              "yearly"
            ],
            "default": "daily",
            "x-example": "daily",
            "x-available": "true",
            "required": false
          },
          {
            "in": "query",
            "name": "type",
            "type": "string",
            "description": "Return historical data for given fiscal period type",
            "enum": [
              "FY",
              "QTR",
              "TTM"
            ],
            "required": false,
            "x-example": "~null",
            "x-available": "true"
          },
          {
            "in": "query",
            "name": "start_date",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Return historical data on or after this date",
            "x-example": "2018-01-01"
          },
          {
            "in": "query",
            "name": "end_date",
            "type": "string",
            "description": "Return historical data on or before this date",
            "format": "date",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "sort_order",
            "type": "string",
            "description": "Sort by date `asc` or `desc`",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyHistoricalData"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/insider_transaction_filings": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Insider Transaction Filings by Company",
        "operationId": "insider_transaction_filings_by_company",
        "description": "Returns a list of all insider transaction filings in a company. Criteria for being an insider include being a director, officer, or 10%+ owner in the company. Transactions are detailed for both non-derivative and derivative transactions by the insider.",
        "x-group": "Insider & Institutional Holdings Data",
        "x-index": 1004,
        "x-sample-data-url": "/companies/AAPL/insider_transaction_filings",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/insider-institutional-holdings",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Return Company's insider transaction filings on or after this date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "2018-01-01",
            "x-example-value": "2018-01-01"
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Return Company's insider transaction filings on or before this date",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "2019-01-01",
            "x-example-value": "2019-01-01"
          },
          {
            "in": "query",
            "name": "ownership_type",
            "description": "The type of ownership to return transaction filings for. 'D' is for direct transactions. 'I' is for indirect transactions. Omit for both types.",
            "type": "string",
            "required": false,
            "x-example": "D"
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 1000,
            "default": 1000,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "The field to sort by.  Default is 'filing_date'.",
            "type": "string",
            "enum": [
              "filing_date",
              "updated_on"
            ],
            "required": false,
            "x-example": "updated_on",
            "x-example-value": "updated_on"
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseInsiderTransactionFilings"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/insider_transaction_filings/latest": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Latest Insider Transaction Filing by Company",
        "operationId": "latest_insider_transaction_filing_by_company",
        "description": "Returns the latest insider transaction filing for a company.",
        "x-group": "Insider & Institutional Holdings Data",
        "x-index": 1005,
        "x-sample-data-url": "/companies/AAPL/insider_transaction_filings/latest",
        "x-documentation-url": "https://intrinio.com/docs/insider-institutional-holdings",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/InsiderTransactionFiling"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/news": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All News by Company",
        "operationId": "get_company_news",
        "description": "Returns the latest and historical news article links, headlines and summaries for a specified US traded company.",
        "x-history": "May 2017 to Present",
        "x-data-type": "15-Min Delayed",
        "x-update-freq": "Rolling Basis - Intraday",
        "x-data-source": "Public RSS Feeds",
        "x-group": "Company News",
        "x-index": 1001,
        "x-sample-data-url": "/companies/AAPL/news",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-news",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "specific_source",
            "description": "Only news from this source. Defaults to highest available if not present.",
            "enum": [
              "yahoo",
              "moody",
              "moody_us_news",
              "moody_us_press_releases"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The maximum number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "sentiment",
            "description": "Filter by sentiment.  Unsupported for yahoo source.",
            "enum": [
              "positive",
              "neutral",
              "negative"
            ],
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "topic",
            "description": "Filter by topic.  Unsupported for yahoo source.",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "security",
            "description": "Filter by `security` identifier (ticker, figi, isin, cusip, Intrinio ID).  Unsupported for yahoo source.",
            "type": "string",
            "required": false,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "security"
            ]
          },
          {
            "in": "query",
            "name": "start_date",
            "type": "string",
            "format": "date",
            "description": "Limit news stories to those on or after this date. Defaults to yesterday if unspecified.",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2024-01-01",
            "x-default-value": "2024-01-01"
          },
          {
            "in": "query",
            "name": "end_date",
            "type": "string",
            "format": "date",
            "description": "Limit news stories to those on or before this date",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2024-01-01",
            "x-default-value": "2024-01-01"
          },
          {
            "in": "query",
            "name": "language",
            "description": "Filter by language.  Unsupported for yahoo source.",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "word_count_greater_than",
            "description": "News stories will have a word count greater than this value.  Unsupported for yahoo source.",
            "type": "integer",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "word_count_less_than",
            "description": "News stories will have a word count less than this value.  Unsupported for yahoo source.",
            "type": "integer",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "is_spam",
            "description": "Filter whether it is marked as spam or not.  Unsupported for yahoo source.",
            "type": "boolean",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "business_relevance_greater_than",
            "description": "News stories will have a business relevance score more than this value.  Unsupported for yahoo source.",
            "type": "number",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "business_relevance_less_than",
            "description": "News stories will have a business relevance score less than this value.  Unsupported for yahoo source.",
            "type": "number",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyNews"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/public_float": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get Company's public float",
        "operationId": "get_company_public_float",
        "description": "Returns a list of public float data tied to a given company identifier.",
        "x-data-type": "End of Day",
        "x-update-freq": "Processed throughout the day after being accepted by the SEC",
        "x-data-source": "SEC | OpenFIGI",
        "x-group": "Company Reference & Metadata",
        "x-index": 1004,
        "x-sample-data-url": "/companies/AAPL/public_float",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/get_company_public_float",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "float_date_greater_than",
            "description": "The lower-bound date for the data being requested.",
            "type": "string",
            "format": "date",
            "x-example": "~null",
            "x-example-value": "2022-07-05",
            "required": false
          },
          {
            "in": "query",
            "name": "float_date_less_than",
            "description": "The upper-bound date for the data being requested.",
            "type": "string",
            "format": "date",
            "x-example": "~null",
            "x-example-value": "2023-07-05",
            "required": false
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanyPublicFloatResult"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/securities": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "All Securities by Company",
        "operationId": "get_company_securities",
        "description": "Returns a list of underlying securities with associated reference data tied to a given company identifier.",
        "x-note": "We maintain two distinct entity databases. A Companies database, and a separate Securities database. Companies are the top level entity filing with the SEC, and thus organized around the SEC CIK identifier. Securities are the underlying share classes associated with a company entity and are organized around the OpenFIGI identifier. For example, Alphabet, Inc. is the top level company entity, while GOOG and GOOGL are two securities associated with the company.",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC | OpenFIGI",
        "x-group": "Company Reference & Metadata",
        "x-index": 1003,
        "x-sample-data-url": "/companies/AAPL/securities",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/company-reference-metadata",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanySecurities"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/companies/{identifier}/shares_outstanding": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Shares Outstanding by Company",
        "operationId": "shares_outstanding_by_company",
        "description": "Returns the shares outstanding reported on the front cover of the SEC 10-K and 10-Q filings.",
        "x-history": "2009 to Present",
        "x-data-type": "End of Day",
        "x-update-freq": "Rolling Basis ~ 20 to 30 Minutes After Filing Accepted by SEC",
        "x-data-source": "SEC",
        "x-additional-comments": "Historical shares outstanding are unadjusted, exactly as the company reported it. For adjusted shares outstanding, try the adjweightedavedilutedsharesos data tag using the `Historical Data` endpoint.",
        "x-group": "Standardized & As-Reported Financial Statement Data",
        "x-index": 1920,
        "x-sample-data-url": "/companies/AAPL/shares_outstanding",
        "x-sandbox": false,
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "A Company identifier (Ticker, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "query",
            "name": "end_date_greater_than",
            "description": "Returns shares outstanding after this date.",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2022-01-01"
          },
          {
            "in": "query",
            "name": "end_date_less_than",
            "description": "Returns shares outstanding before this date.",
            "type": "string",
            "format": "date",
            "required": false,
            "x-example": "~null",
            "x-example-value": "2023-01-01"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseCompanySharesOutstanding"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/data_point/{identifier}/{tag}/number": {
      "get": {
        "produces": [
          "text/plain; charset=utf-8"
        ],
        "tags": [
          "DataPoint"
        ],
        "summary": "Data Point (Number)",
        "operationId": "get_data_point_number",
        "description": "Returns a numeric value for the given `tag` and the entity with the given `identifier`",
        "x-group": "Generic",
        "x-index": 1003,
        "x-sample-data-url": "/data_point/AAPL/marketcap/number",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/generic-fundamentals",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "An identifier for an entity such as a Company, Security, Index, etc (Ticker, FIGI, ISIN, CUSIP, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "path",
            "name": "tag",
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "type": "string",
            "required": true,
            "x-example": "marketcap",
            "x-example-value": "marketcap",
            "x-default-value": "marketcap",
            "x-lookup-mode": "data_tag"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "number",
              "description": "The latest numeric value for the identifier/item combination"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_point/{identifier}/{tag}/text": {
      "get": {
        "produces": [
          "text/plain; charset=utf-8"
        ],
        "tags": [
          "DataPoint"
        ],
        "summary": "Data Point (Text)",
        "operationId": "get_data_point_text",
        "description": "Returns a text value for the given `tag` for the Security with the given `identifier`",
        "x-group": "Generic",
        "x-index": 1004,
        "x-sample-data-url": "/data_point/AAPL/ceo/text",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/generic-fundamentals",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "An identifier for an entity such as a Company, Security, Index, etc (Ticker, FIGI, ISIN, CUSIP, CIK, LEI, Intrinio ID)",
            "type": "string",
            "required": true,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL",
            "x-lookup-mode": "identifier",
            "x-lookup-types": [
              "company"
            ]
          },
          {
            "in": "path",
            "name": "tag",
            "description": "An Intrinio data tag ID or code (<a href='https://data.intrinio.com/data-tags'>reference</a>)",
            "type": "string",
            "required": true,
            "x-example": "ceo",
            "x-example-value": "ceo",
            "x-default-value": "ceo",
            "x-lookup-mode": "data_tag"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "string",
              "description": "The latest text value for the identifier/item combination"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/data_tags": {
      "get": {
        "tags": [
          "Data Tag"
        ],
        "summary": "All Data Tags",
        "operationId": "get_all_data_tags",
        "description": "Returns all Data Tags. Returns Data Tags matching parameters when specified.",
        "x-group": "Generic",
        "x-index": 1000,
        "x-sample-data-url": "/data_tags?statement_code=income_statement",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/generic-fundamentals",
        "parameters": [
          {
            "in": "query",
            "name": "tag",
            "description": "Tag",
            "type": "string",
            "required": false,
            "x-example": "~null",
            "x-lookup-mode": "data_tag"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Type",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "parent",
            "description": "ID of tag parent",
            "type": "string",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "statement_code",
            "description": "Statement Code",
            "enum": [
              "income_statement",
              "balance_sheet_statement",
              "cash_flow_statement",
              "calculations"
            ],
            "type": "string",
            "required": false,
            "x-example": "income_statement",
            "x-example-value": "income_statement",
            "x-default-value": "income_statement"
          },
          {
            "in": "query",
            "name": "fs_template",
            "description": "Template",
            "type": "string",
            "enum": [
              "industrial",
              "financial"
            ],
            "default": "industrial",
            "required": false,
            "x-example": "~null"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseDataTags"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/data_tags/search": {
      "get": {
        "tags": [
          "Data Tag"
        ],
        "summary": "Search Data Tags",
        "operationId": "search_data_tags",
        "description": "Searches for Data Tags matching the text `query`",
        "x-group": "Generic",
        "x-index": 1001,
        "x-sample-data-url": "/data_tags/search?query=revenue",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/generic-fundamentals",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "type": "string",
            "required": true,
            "x-example": "revenue",
            "x-example-value": "revenue",
            "x-default-value": "revenue"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseDataTagsSearch"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/data_tags/{identifier}": {
      "get": {
        "tags": [
          "Data Tag"
        ],
        "summary": "Lookup Data Tag",
        "operationId": "get_data_tag_by_id",
        "description": "Returns the Data Tag with the given `identifier`",
        "x-group": "Generic",
        "x-index": 1002,
        "x-sample-data-url": "/data_tags/marketcap",
        "x-sandbox": true,
        "x-documentation-url": "https://intrinio.com/docs/generic-fundamentals",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "The Intrinio ID or the code-name of the Data Tag",
            "type": "string",
            "required": true,
            "x-example": "marketcap",
            "x-example-value": "marketcap",
            "x-default-value": "marketcap",
            "x-lookup-mode": "data_tag"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DataTag"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/esg": {
      "get": {
        "tags": [
          "ESG"
        ],
        "summary": "ESG Latest",
        "operationId": "get_esg_latest",
        "description": null,
        "x-note": null,
        "x-history": "N/A",
        "x-data-type": null,
        "x-update-freq": "Data is on a 2 month lag.",
        "x-data-source": "CSRHub",
        "x-additional-comments": null,
        "x-group": "ESG",
        "x-index": 1000,
        "x-sample-data-url": "/esg",
        "x-sandbox": false,
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "description": null,
            "type": "string",
            "required": false,
            "x-example": "USA",
            "x-example-value": "USA",
            "x-default-value": "USA"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseESGLatest"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/esg/companies": {
      "get": {
        "tags": [
          "ESG"
        ],
        "summary": "ESG Companies",
        "operationId": "get_esg_companies",
        "description": null,
        "x-note": null,
        "x-history": "N/A",
        "x-data-type": null,
        "x-update-freq": "Data is on a 2 month lag.",
        "x-data-source": "CSRHub",
        "x-additional-comments": null,
        "x-group": "ESG",
        "x-index": 1000,
        "x-sample-data-url": "/esg/companies",
        "x-sandbox": false,
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "description": null,
            "type": "string",
            "required": false,
            "x-example": "Canada",
            "x-example-value": "Canada",
            "x-default-value": "USA"
          },
          {
            "in": "query",
            "name": "industry",
            "description": null,
            "type": "string",
            "required": false,
            "x-example": "Retail",
            "x-example-value": "Retail",
            "x-default-value": "Retail"
          },
          {
            "in": "query",
            "name": "ticker",
            "description": null,
            "type": "string",
            "required": false,
            "x-example": "SHOP",
            "x-example-value": "SHOP",
            "x-default-value": "SHOP"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseESGCompanies"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/esg/comprehensive": {
      "get": {
        "tags": [
          "ESG"
        ],
        "summary": "ESG Latest Comprehensive",
        "operationId": "get_esg_latest_comprehensive",
        "description": null,
        "x-note": null,
        "x-history": "N/A",
        "x-data-type": null,
        "x-update-freq": "Data is on a 2 month lag.",
        "x-data-source": "CSRHub",
        "x-additional-comments": null,
        "x-group": "ESG",
        "x-index": 1000,
        "x-sample-data-url": "/esg/comprehensive",
        "x-sandbox": false,
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "description": null,
            "type": "string",
            "required": false,
            "x-example": "USA",
            "x-example-value": "USA",
            "x-default-value": "USA"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseESGLatestComprehensive"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/esg/{identifier}": {
      "get": {
        "tags": [
          "ESG"
        ],
        "summary": "ESG Company Ratings History",
        "operationId": "get_esg_company_ratings",
        "description": null,
        "x-note": null,
        "x-history": "N/A",
        "x-data-type": null,
        "x-update-freq": "Data is on a 2 month lag.",
        "x-data-source": "CSRHub",
        "x-additional-comments": null,
        "x-group": "ESG",
        "x-index": 1000,
        "x-sample-data-url": "/esg/AAPL",
        "x-sandbox": false,
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "ISIN, Intrinio ID, or Ticker",
            "type": "string",
            "required": false,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseESGCompanyRatingHistory"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/esg/{identifier}/comprehensive": {
      "get": {
        "tags": [
          "ESG"
        ],
        "summary": "ESG Company Comprehensive Ratings History",
        "operationId": "get_esg_company_comprehensive_ratings",
        "description": null,
        "x-note": null,
        "x-history": "N/A",
        "x-data-type": null,
        "x-update-freq": "Data is on a 2 month lag.",
        "x-data-source": "CSRHub",
        "x-additional-comments": null,
        "x-group": "ESG",
        "x-index": 1000,
        "x-sample-data-url": "/esg/AAPL/comprehensive",
        "x-sandbox": false,
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "description": "ISIN, Intrinio ID, or Ticker",
            "type": "string",
            "required": false,
            "x-example": "AAPL",
            "x-example-value": "AAPL",
            "x-default-value": "AAPL"
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "required": false,
            "description": "The number of results to return",
            "maximum": 10000,
            "default": 100,
            "x-example": 100
          },
          {
            "in": "query",
            "name": "next_page",
            "description": "Gets the next page of data from a previous API call",
            "type": "string",
            "x-example": "~null",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ApiResponseESGCompanyComprehensiveRatingHistory"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not found."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/etfs": {
      "get": {
        "tags": [
          "ETFs"
        ],
        "summary": "All ETFs",
        "operationId": "get_all_etfs",
        "description": "Returns a list of all currently listed ETFs, with relevant identification information including the ETF Name, Ticker, FIGI Ticker, and Exchange MIC for further usage with our ETF Metadata, Holdings, Stats, and Analytics offerings.",
[...]
